
.walletLogo{
    width: 8%;
    margin-left: 5%;
    
}

.walletButtonBg{
    background-color: black;
}

.wallet{
    margin-top: 10%;
}

.walletContainer{
    margin-top: 7%;
}

.mobilelogo{
    width: 7%;
}