.Newfooter_background{
    background-image: url('../assets/images/gradient_left.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: auto;

}